<div fxLayout="row" class="footer-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <mat-icon class="mat-icon-lg text-muted m-0">home</mat-icon>
            <p>Home</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <mat-icon class="mat-icon-lg text-muted m-0">forum</mat-icon>
            <p>Feeds</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <mat-icon class="mat-icon-lg text-muted m-0">message</mat-icon>
            <p>Messages</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <mat-icon class="mat-icon-lg text-muted m-0">person</mat-icon>
            <p>Account</p>
        </mat-card>
    </div>
</div>
