<app-main-carousel [slides]="slides"></app-main-carousel>
<div fxLayout="row" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <button mat-fab color="primary">
                <mat-icon>list</mat-icon>
            </button>
            <p>All Categories</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <button mat-fab color="warn">
                <mat-icon>euro_symbol</mat-icon>
            </button>
            <p>Request Quotation</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <button mat-fab color="accent">
                <mat-icon>attach_money</mat-icon>
            </button>
            <p>Trade Assurance</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
        <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <button mat-fab color="primary">
                <mat-icon>navigation</mat-icon>
            </button>
            <p>New User</p>
        </mat-card>
    </div>
</div>

<div class="products-tabs">
    <h3 class="product-section-title">SELECTED PRODUCTS</h3>
    <app-products-carousel [products]="featuredProducts"></app-products-carousel>
    <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
    <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
    <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
</div>

<div class="products-tabs">
    <h3 class="product-section-title">ELECTRONICS ITEMS</h3>
    <app-products-carousel [products]="featuredProducts"></app-products-carousel>
    <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
    <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
    <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
</div>
