.example-card {
    margin-bottom: 15px;
}


table {
    width: 100%;
}

table td:last-child,
table th:last-child {
    text-align: right;
}

.example-expansion
{
    margin-bottom: 20px;
}

.mat-expansion-panel-header strong{
    padding-left: 10px;
}

.counter-extend
{
    text-align: center;
    margin-bottom: 20px;
}

.counter-extend .counter
{
    font-size: 50px;
}

.counter-extend .title{
    font-weight: bolder;
    font-size: 20px;
}

.counter-extend p{
    margin: 0;
}
