<div fxLayout="row wrap" fxLayoutAlign="space-evenly top">
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
<mat-expansion-panel class="example-expansion" [ngStyle]="{'background-color':'#e8e8e8'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mat-icon-md m-0">insert_chart_outlined</mat-icon> <strong>Market</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tr>
          <td>Gold</td>
          <td>$ 100.00</td>
        </tr>
        <tr>
          <td>Steel</td>
          <td>$ 85.00</td>
        </tr>
        <tr>
          <td>Petrol</td>
          <td>$ 65.00</td>
        </tr>
        <tr>
          <td>Rice</td>
          <td>$ 50.00</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
<mat-expansion-panel class="example-expansion" [ngStyle]="{'background-color':'#e8e8e8'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mat-icon-md m-0">star_border</mat-icon> <strong>Interest</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <thead>
          <tr>
            <th>Rating</th>
            <th>No.</th>
          </tr>
        </thead>
        <tr>
          <td>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
          </td>
          <td>8</td>
        </tr>
        <tr>
          <td>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
          </td>
          <td>7</td>
        </tr>
        <tr>
          <td>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
          </td>
          <td>6</td>
        </tr>
        <tr>
          <td>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
          </td>
          <td>5</td>
        </tr>
        <tr>
          <td>
            <mat-icon class="mat-icon-xs text-muted m-0">star_border</mat-icon>
          </td>
          <td>3</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
<mat-expansion-panel class="example-expansion" [ngStyle]="{'background-color':'#e8e8e8'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mat-icon-md m-0">visibility</mat-icon> <strong>Visitor</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>No.</th>
          </tr>
        </thead>
        <tr>
          <td>India</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Australia</td>
          <td>6</td>
        </tr>
        <tr>
          <td>China</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>2</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center top">
<div fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxLayout="column" fxLayoutAlign="center top" class="counter-extend">
    <p class="counter">0</p>
    <p class="title">RFQ</p>
  </div>
<div fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxLayout="column" fxLayoutAlign="center top" class="counter-extend">
    <p class="counter">10</p>
    <p class="title">My Quotes</p>
  </div>
<div fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxLayout="column" fxLayoutAlign="center top" class="counter-extend">
    <p class="counter">20</p>
    <p class="title">Messages</p>
  </div>
</div>

<div fxLayout="row" class="info-bar">
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
    <mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <button mat-fab color="primary">
        <mat-icon>list</mat-icon>
      </button>
      <p>My Website</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
<mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <button mat-fab color="warn">
        <mat-icon>euro_symbol</mat-icon>
      </button>
      <p>Membership</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
<mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <button mat-fab color="accent">
        <mat-icon>attach_money</mat-icon>
      </button>
      <p>Exchange Rate</p>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="25">
<mat-card class="no-block" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <button mat-fab color="primary">
        <mat-icon>navigation</mat-icon>
      </button>
      <p>Translation</p>
    </mat-card>
  </div>
</div>

<div class="products-tabs">
  <div fxLayout="row wrap" fxLayoutAlign="space-between top">
    <div fxFlex="100" fxFlex.gt-md="49" fxFlex.gt-xs="49">
      <h3 class="product-section-title">PROMOTIONS</h3>
      <div fxLayout="row wrap" fxLayoutAlign="space-between top">
        <div fxFlex="100" fxFlex.gt-md="49" fxFlex.gt-xs="49">
          <mat-card class="example-card">
            <img mat-card-image src="assets/images/carousel/42be963d0f43d62e.jpg">
          </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-md="49" fxFlex.gt-xs="49">
          <mat-card class="example-card">
            <img mat-card-image src="assets/images/carousel/0ef3451a2daeca56.jpg">
          </mat-card>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="49" fxFlex.gt-xs="49">
      <h3 class="product-section-title">PRODUCTS</h3>
      <div fxLayout="row wrap" fxLayoutAlign="space-between top">
        <div fxFlex="100" fxFlex.gt-md="49" fxFlex.gt-xs="49">
          <mat-card class="example-card">
            <img mat-card-image src="assets/images/products/pc/1-medium.png">
          </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-md="49" fxFlex.gt-xs="49">
          <mat-card class="example-card">
            <img mat-card-image src="assets/images/products/printer/1-medium.png">
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
